<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Example</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-PLI8V9qL6m86hL6I8wK22W82M5oU57d4700L384597576V3d3L" crossorigin="anonymous">
    </head>
    <body>

        <h1>This is a Bootstrap Page</h1>
        <p>running</p>
        <button type="button" class="btn btn-primary">Click Me!</button>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>Column 1</h2>
              <p>This is column 1 content.</p>
            </div>
           
          </div>
        </div>

    </body>
    </html>