{% extends 'base.html' %} {% load static %} 

{% block inner_html %}


    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Love and Relationship</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Services</li>
            <li class="current">Love and Relationship</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    
    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Aries Horoscope</h2>
        <p>Sometimes you have to play the game and pretend that you’re cool with what happens in the workplace. As Venus in your house of labor opposes disillusioning Neptune, you’re more likely to feel underwhelmed or disappointed by what transpires. You don’t have to be turned on by every project you’re involved with. Just because it isn’t exciting doesn’t mean that it won’t be worthwhile. Later, Mercury stations direct in your dating zone, signaling an end to a trip down memory lane. That means no more communicating with exes and wistful reminiscences of past romances. You can continue to cling to the past if you choose to. However, the happiness you seek lies ahead, not behind you.</p>
      </div><!-- End Section Title -->

      <!-- <div class="container" data-aos="fade-up">
        <p>Use this page as a starter for your own custom pages.</p>
      </div> -->

    </section><!-- /Starter Section Section -->



{% endblock %} 